<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Browser" value="Edge" />
		<add key="Username" value="user" />
		<add key="Password" value="pass" />
		<add key="Website" value="https://www.Facebook.com" />
	</appSettings>	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-22.0.0.0" newVersion="22.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>